@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f7f8;
    font-family: 'Poppins', sans-seri;
    #Menu {
        .product-card {
            .product-card-image-refri {
                @media (max-width: 768px) {
                    width: 6.75rem;
                    height: 6.75rem;
                }
            }
            .product-card-info {
                width: 100%;
                @media (max-width: 768px) {
                    margin-top: 0px;
                }
                .product-card-title {
                    a {
                        @media (max-width: 768px) {
                            font-size: 14px;
                        }
                    }
                }
                .card-subtitle {
                    p {
                        @media (max-width: 768px) {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }
                .product-card-price {
                    span {
                        @media (max-width: 768px) {
                            font-size: 16px;
                        }
                    }
                }
            }
            .button-cart {
                background: #030712;
                transition-duration: 120ms;
            }
            .button-cart:hover {
                background: #0d193a;
            }
        }
    }
    .banner-header {
        background-image: url('/assets/images/bg.png');
        @media (max-width: 425px) {
            background-image: url('./../../assets/images/bg-mobile.png');
        }
    }
    .footer-cart {
        .button-your-cart {
            width: 100%;
            height: 100%;
        }
    }
}
